{% extends "base.html" %}

{% block head %}
  <title>Rishav Saha - About-me</title>
{% endblock %}

{% block body %}
<div class="about-me-container">
  <p class="about-me-tag">A short story about me,</p>
  <p class="about-me-text">
    I am <span class="highlight">Rishav Saha</span>, an engineering student and technology lover having an immense interest in <span class="under-line">Web technologies, Machine Learning & Big Data</span>, looking forward to building a career in Software Engineering.
  </p>
  <p class="about-me-text">
    Besides, I am an enthusiastic <span class="under-line">Graphic Designer</span>. I regard myself to be a very open-minded person, ready for new challenges, especially when it comes to technology. People consider me to be a social, temperamental person who doesn't hesitate in giving an opinion for what I think and believe in, honest and respectfully. I consider myself, ambitious with the work, I always have a new goal to achieve. To some extent, you never stop learning so everyone should be ambitious about work.
  </p>
  <p class="about-me-text">
    To sum up, I consider myself a hard-working, active, sociable, ambitious, and optimistic person...
  </p>

  <div class="timeline">
    <p class="text">My timeline</p>
    <ul>
      <li class="tags">Professional</li>
      <ul class="internal-list">
        <li>Intern at FreeFlow - Mindspace Ventures (Technology associate)</li>
      </ul>
      <li class="tags">Education</li>
      <ul class="internal-list">
        <li>Bachelor of Technology (2016 - 2020)</li>
        <li>Higher Secondary Education (2016)</li>
        <li>Secondary Education (2014)</li>
      </ul>
    </ul>
</div>
{% endblock %}