{% extends "base.html" %}

{% block head %}
  <title>Rishav Saha - Skills</title>
{% endblock %}

{% block body %}
<div class="page-style skills">
  <p class="page-tag mb-4">Skills</p>
  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="skill-container">
          <p class="skill-tag">Programming languages</p>
          <div class="list">
            <ul>
              <li>Java</li>
              <li>Python</li>
              <li>C, C++</li>
              <li>Javascript</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="skill-container">
          <p class="skill-tag">Web frameworks</p>
          <div class="list">
            <ul>
              <li>Spring Boot</li>
              <li>Flask</li>
              <li>NodeJS</li>
              <li>VueJS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="skill-container">
          <p class="skill-tag">Machine Learning</p>
          <div class="list">
            <ul>
              <li>Regression algorithms</li>
              <li>Classification algorithms</li>
              <li>Natural language processing</li>
              <li>Deep learning</li>
              <ul>
                <li>CNN</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="skill-container">
          <p class="skill-tag">Database management</p>
          <div class="list">
            <ul>
              <li>Relational database</li>
              <ul>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>SQLite</li>
              </ul>
              <li>Non-relational database</li>
              <ul>
                <li>MongoDB</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12 offset-lg-3 offset-md-3">
        <div class="skill-container">
          <p class="skill-tag">Other skills</p>
          <div class="list">
            <ul>
              <li>Internet of Things</li>
              <li>Arduino</li>
              <li>Graphics designing</li>
              <li>Video editing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}